{if $packages}
	{var $installs = count($packages)}
	{var $colls1 = $installs % 1}
	{var $colls2 = $installs % 2}
	{var $colls3 = $installs % 3}

	{if $installs == 1}
		{var $class = 'col-sm-12'}
	{elseif $colls2 == 0 && $colls3 != 0}
		{var $class = 'col-sm-12 col-md-6'}
	{elseif $colls2 != 0 && $colls3 == 0}
		{var $class = 'col-sm-12 col-md-4'}
	{else}
		{var $class = 'col-sm-12 col-md-4'}
	{/if}

	<div n:if="$packages" class="row docs-premium-template" style="display: flex;flex-flow: row wrap;">
		<div n:foreach="$packages as $name => $package" class="{$class}">
			<div class="box box-solid">
				<div class="box-body">
					<h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
						PREMIUM SOUTĚŽ
					</h4>
					<div class="media">
						<div class="media-left">
							<a href="{plink Page:edit $control->getEditLink($package)}">
								<img n:img="$control->getImage($package->module, $package->name)->identifier, '150x100', exact" class="media-object" style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
							</a>
						</div>
						<div class="media-body">
							<div class="clearfix">
								<p class="pull-right">
									<a href="{plink Page:edit $control->getEditLink($package)}" class="btn btn-success btn-sm">Správa stránky</a>
								</p>
								<h4 style="margin-top: 0">{$package->name}</h4>
								{*<p>{$package['description']}</p>*}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{/if}

